Repository E3SM-Project/e3sm_diags, pull requests merged in 2024-10, with the labels that each got.

#860 CDAT Migration Phase 3 - Port QBO Wavelet feature to Xarray/xCDAT codebase
  auxiliary_tools/cdat_regression_testing/850-qbo-wavelet/regression_test.ipynb
  auxiliary_tools/cdat_regression_testing/850-qbo-wavelet/regression_test_png.ipynb
  auxiliary_tools/cdat_regression_testing/850-qbo-wavelet/run_script.py
  e3sm_diags/driver/qbo_driver.py
  e3sm_diags/plot/qbo_plot.py
Labels: enhancement, cdat-migration-fy24

#842 CDAT Migration Phase 2: Refactor arm_diags set
  auxiliary_tools/cdat_regression_testing/667-arm_diags/667-arm_diags_cdat_regression_test_png.ipynb
  auxiliary_tools/cdat_regression_testing/667-arm_diags/667-arm_diags_run_script.py
  auxiliary_tools/cdat_regression_testing/667-arm_diags/arm_diags_model_vs_obs.cfg
  auxiliary_tools/cdat_regression_testing/667-arm_diags/debug/667_debug_perf.py
  e3sm_diags/derivations/derivations.py
  e3sm_diags/derivations/formulas.py
  e3sm_diags/driver/arm_diags_driver.py
  e3sm_diags/driver/utils/climo_xr.py
  e3sm_diags/driver/utils/dataset_xr.py
  e3sm_diags/driver/utils/diurnal_cycle_xr.py
  e3sm_diags/parameter/arm_diags_parameter.py
  e3sm_diags/plot/arm_diags_plot.py
  e3sm_diags/viewer/arm_diags_viewer.py
  tests/e3sm_diags/driver/utils/test_dataset_xr.py
Labels: cdat-migration-fy24

#864 Add performance benchmark material
  auxiliary_tools/cdat_regression_testing/855-perf-benchmark/run-script-model-vs-obs/dev-branch-log.txt
  auxiliary_tools/cdat_regression_testing/855-perf-benchmark/run-script-model-vs-obs/main-branch-log.txt
  auxiliary_tools/cdat_regression_testing/855-perf-benchmark/run-script-model-vs-obs/run_script.py
  auxiliary_tools/cdat_regression_testing/855-perf-benchmark/run-script-model-vs-obs/run_script_main.py
Labels: cdat-migration-fy24

#865 Add function to add CF axis attr to Z axis if missing for downstream xCDAT operations
  e3sm_diags/driver/utils/dataset_xr.py
Labels: bug, cdat-migration-fy24

#875 CDAT Migration Phase 3: Add Convective Precipitation Fraction in lat-lon
  e3sm_diags/derivations/derivations.py
  e3sm_diags/derivations/formulas.py
Labels: enhancement, cdat-migration-fy24

#876 CDAT Migration Phase 3: Fix LHFLX name and add catch for non-existent or empty TE stitch file
  e3sm_diags/derivations/formulas.py
  e3sm_diags/driver/tc_analysis_driver.py
Labels: cdat-migration-fy24

#866 Add support for multiple time series datasets via glob and fix `enso_diags` set
  auxiliary_tools/cdat_regression_testing/662-area-mean-time-series/non_submonthly.py
  auxiliary_tools/cdat_regression_testing/861-time-series-multiple/all-ts-datasets/nc.ipynb
  auxiliary_tools/cdat_regression_testing/861-time-series-multiple/all-ts-datasets/png.ipynb
  auxiliary_tools/cdat_regression_testing/861-time-series-multiple/all-ts-datasets/run_script.py
  auxiliary_tools/cdat_regression_testing/861-time-series-multiple/all-ts-datasets/specific_sets/diurnal_cycle_nc.ipynb
  auxiliary_tools/cdat_regression_testing/861-time-series-multiple/all-ts-datasets/specific_sets/diurnal_cycle_png.ipynb
  auxiliary_tools/cdat_regression_testing/861-time-series-multiple/all-ts-datasets/specific_sets/enso_diags_nc.ipynb
  auxiliary_tools/cdat_regression_testing/861-time-series-multiple/all-ts-datasets/specific_sets/enso_diags_png.ipynb
  auxiliary_tools/cdat_regression_testing/861-time-series-multiple/all-ts-datasets/specific_sets/qbo_nc.ipynb
  auxiliary_tools/cdat_regression_testing/861-time-series-multiple/all-ts-datasets/specific_sets/qbo_png.ipynb
  auxiliary_tools/cdat_regression_testing/861-time-series-multiple/run_script.py
  auxiliary_tools/cdat_regression_testing/861-time-series-multiple/template_cdat_regression_test_png.ipynb
  e3sm_diags/driver/enso_diags_driver.py
  e3sm_diags/driver/utils/dataset_xr.py
  tests/e3sm_diags/driver/utils/test_dataset_xr.py
Labels: cdat-migration-fy24
